<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} Search Engine {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {
      };
    </script>

    {% block meta %} {% endblock meta %}
  </head>
  {% block content %}
  <body>
    {% if query_results %}
    <div class="min-h-screen min-w-screen flex flex-col p-4 md:p-8">
      <div class="flex flex-col gap-4">
        <div>
          <span>Nub Engine</span>
        </div>
        <div>
          <form method="POST" action="{% url 'website:show_home' %}">
            {% csrf_token %}
            <input
              type="text"
              id="queries"
              name="queries"
              class="border-2 rounded-md"
            />
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
      <div class="flex flex-col mt-10">
        {% if queries %}
        <div>
          <span>Result for: </span>
          {% for query in queries %}
          <span>{{ query }}</span>
          {% endfor %}
        </div>
        {% endif %}
        
        {% for result in query_results %}
        <ul>
          {% for item in result.results %}
          <li>{{ item.doc }} - {{ item.score }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if not query_results %}
    <div class="min-h-screen min-w-screen flex flex-col justify-center items-center p-4 md:p-8">
      <div class="flex flex-col justify-center items-center gap-4">
        <div>
          <span>Nub Engine</span>
        </div>
        <div>
          <form method="POST" action="{% url 'website:show_home' %}">
            {% csrf_token %}
            <input
              type="text"
              id="queries"
              name="queries"
              class="border-2 rounded-md"
            />
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
  </body>
  {% endblock content %}
</html>
